@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,600&family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --primary-color: blueviolet;
  --dark-theme-text-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

img {
  width: 100%;
}

.logo {
  font-size: large;
  font-style: italic;
  color: var(--primary-color);
  padding: 0.8rem;
}

.card-row {
  display: flex;
  flex-direction: row;
}

.container {
  height: 100vh;
  display: flex;
}
