##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## Javascript
##############################
node_modules/

##############################
## Project ignores
##############################

web-programming/backend/**/src/*
