.advantages {
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: aliceblue;
  margin: 1.3rem;
  border-radius: 7%;
}

.card-icon {
  padding: 1em 0 0 2em;
}

.card-icon > .material-symbols-outlined {
  font-size: 3rem;
}

.card-title {
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.25em;
}

.card-content {
  padding: 0.9rem;
}
