@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,600&display=swap");

.card-row {
  display: flex;
  flex-direction: row;
}

.card {
  font-family: "Jost", sans-serif;
  background-color: blue;
}
